<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Podcast di radiopopolare">    <title>PopPod - Podcast di Radio Popolare</title>    
    <link rel="stylesheet" href="css/pure-min.css">
    
    
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="css/layouts/side-menu.css">
        <!--<![endif]-->
</head>
<body>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="index.html">PopPod</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="index.html" class="pure-menu-link">Home</a></li>
{% for item in menu %}
{% if item.url == page.url %}
                <li class="pure-menu-item menu-item-divided pure-menu-selected"><a href="{{item.url|e}}" class="pure-menu-link">{{item.name|e}}</a></li>
{% else %}
                <li class="pure-menu-item"><a href="{{item.url|e}}" class="pure-menu-link">{{item.name|e}}</a></li>
{% endif %}
{% endfor %}

                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            <h1>{{page.title}}</h1>
            <h2>{{page.description}}</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">List of podcasts</h2>
            <ul>
            
{% for item in page.podlist %}
                <li><a href="{{ item.url|e }}" alt="{{ item.title|e }}">{{ item.title|e }}</a></li>
{% endfor %}

            </ul>
        </div>
    </div>
</div>

<script src="js/ui.js"></script>

</body>
</html>
